@{
    ViewData["Title"] = "Home Page";
}

@model List<TasksModel>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="container bg-light">

    <div class="row">
        <h2>Stephen Covey's Time Management Matrix</h2>
    </div>

    <div class="row">

        <div class="col-2"></div>

        <div class="col-5">
            <h5>Urgent</h5>
        </div>

        <div class="col-5">
            <h5>Not Urgent</h5>
        </div>

    </div>
    
    <div class="row">

        <div class="col-2">
            <h5>Important</h5>
        </div>

        <div class="col-5">
            @foreach (var task in Model)
            {
                if (task.Quadrant == 1)
                {
                    <p>
                        @task.Task (<a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskID">Update</a> 
                        <a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@task.TaskID">Delete</a> 
                        <a asp-controller="Home" asp-action="MarkComplete" asp-route-taskid="@task.TaskID">Mark completed</a>)
                    </p>
                }
            }
        </div>

        <div class="col-5">
            @foreach (var task in Model)
            {
                if (task.Quadrant == 2)
                {
                    <p>
                        @task.Task (<a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskID">Update</a>
                        <a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@task.TaskID">Delete</a>
                        <a asp-controller="Home" asp-action="MarkComplete" asp-route-taskid="@task.TaskID">Mark completed</a>)
                    </p>
                }
            }
        </div>

    </div>

    <div class="row">

        <div class="col-2">
            <h5>Not Important</h5>
        </div>

        <div class="col-5">
            @foreach (var task in Model)
            {
                if (task.Quadrant == 3)
                {
                    <p>
                        @task.Task (<a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskID">Update</a>
                        <a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@task.TaskID">Delete</a>
                        <a asp-controller="Home" asp-action="MarkComplete" asp-route-taskid="@task.TaskID">Mark completed</a>)
                    </p>
                }
            }
        </div>

        <div class="col-5">
            @foreach (var task in Model)
            {
                if (task.Quadrant == 4)
                {
                    <p>
                        @task.Task (<a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskID">Update</a>
                        <a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@task.TaskID">Delete</a>
                        <a asp-controller="Home" asp-action="MarkComplete" asp-route-taskid="@task.TaskID">Mark completed</a>)
                    </p>
                }
            }
        </div>

    </div>

</div>
